NODE_ENV=production
LOG_LEVEL=debug
PORT=3000
BASE_URL=http://localhost:3000
SYSLOG_HOST=''
SYSLOG_PORT=''
MONGO_URI=mongodb:27017/keyserver_db
MONGO_USER=keyserver
MONGO_PASS=changeme
MONGO_INITDB_DATABASE=keyserver_db
SENDER_NAME=keyserver
SENDER_EMAIL=changeme
SMTP_HOST=changeme
SMTP_PORT=587
SMTP_TLS=false
SMTP_STARTTLS=true
SMTP_PGP=''
SMTP_USER=''
SMTP_PASS=''
PUBLIC_KEY_PURGE_TIME=30
