<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="An OpenPGP public key server that verifies users by sending an encrypted verification email.">
    <meta name="author" content="Mailvelope GmbH">
    <title>Mailvelope Key Server</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jumbotron-narrow.css">
  </head>
  <body>
    <%- content %>
  </body>
</html>
