<div class="container">

  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation" class="active"><a href="/manage.html">Manage Keys</a></li>
        <li role="presentation"><a href="https://github.com/mailvelope/keyserver" target="_blank">GitHub</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Mailvelope Key Server</h3>
  </div>

  <div class="row marketing">
    <div id="addKey" class="col-lg-12">
      <h2>OpenPGP key upload</h2>
      <div class="alert alert-success hidden" role="alert">
        <strong>Success!</strong> <span></span>
      </div>
      <div class="alert alert-danger hidden" role="alert">
        <strong>Error!</strong> <span></span>
      </div>
      <div class="progress hidden">
        <div class="progress-bar progress-bar-striped active" role="progressbar"></div>
      </div>
      <form action="/pks/add" method="post">
        <p><textarea class="form-control" name="keytext" rows="5" spellcheck="false" placeholder="Paste PGP PUBLIC KEY BLOCK here ..." required></textarea></p>
        <input class="btn btn-primary btn-lg" type="submit" value="Upload">
      </form>
      <hr>
    </div> <!-- /col-lg-12 -->

    <div class="col-lg-12">
      <h2>OpenPGP key lookup</h2>
      <form action="/pks/lookup" method="get">
        <input class="hidden" type="radio" name="op" value="get" checked="checked">
        <div class="input-group input-group-lg">
          <input class="form-control" name="search" type="text" spellcheck="false" placeholder="Email address or Key ID e.g. 0x11A1A9C84B18732F" required>
          <span class="input-group-btn">
            <input class="btn btn-default" type="submit" value="Search">
          </span>
        </div><!-- /input-group -->
      </form>
      <hr>
    </div> <!-- /col-lg-12 -->

    <div id="removeKey" class="col-lg-12">
      <h2>OpenPGP key removal</h2>
      <div class="alert alert-success hidden" role="alert">
        <strong>Success!</strong> <span></span>
      </div>
      <div class="alert alert-danger hidden" role="alert">
        <strong>Error!</strong> <span></span>
      </div>
      <div class="progress hidden">
        <div class="progress-bar progress-bar-striped active" role="progressbar"></div>
      </div>
      <form>
        <div class="input-group input-group-lg">
          <input class="form-control" name="email" type="email" spellcheck="false" placeholder="Email address" required>
          <span class="input-group-btn">
            <input class="btn btn-default" type="submit" value="Delete">
          </span>
        </div><!-- /input-group -->
      </form>
      <hr>
    </div> <!-- /col-lg-12 -->

    <div class="col-lg-12">
      <h2>HKP and REST Apis</h2>
      <p>The server offers a modern REST api over HTTPS with HSTS and public key pinning that can be integrated into any app architecture. It is also compatible to the OpenPGP HTTP Keyserver Protocol (HKP). Just copy and paste <a href="hkps://keys.mailvelope.com" target="_blank">hkps://keys.mailvelope.com</a> into your current OpenPGP plugin and go. <a href="https://github.com/mailvelope/keyserver/blob/master/README.md#api" target="_blank">Learn more</a>.</p>
    </div>
  </div> <!-- /row marketing -->

  <%- include('footer.html') %>

</div> <!-- /container -->

<script src="js/jquery.slim.min.js"></script>
<script type="module" src="js/manage.js"></script>
